body {
    background-color: aqua;
}
#h1 {
    font-size: 500%;
    text-align: center;
    color: red;
    margin: auto;
    -webkit-animation-name: header; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: header;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes header {
    from {color: red;}
    to {color: yellow;}
}

/* Standard syntax */
@keyframes header {
    from {color: red;}
    to {color: purple;}
}